<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/add-product">
                    <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
                    <span class="menu-title">Add Product</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                    <span class="menu-title">Edit Product</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/order-details">
                    <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                    <span class="menu-title">Order Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user-info">
                    <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                    <span class="menu-title">User Info</span>
                </a>
            </li>
            {{!-- <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
          </ul>
        </div>
      </li> --}}


            <li class="nav-item sidebar-user-actions mt-5">
                <div class="sidebar-user-menu">
                    <a href="/admin/adminlogout" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                        <span class="menu-title">Log Out</span></a>
                </div>
            </li>
        </ul>
    </nav>


    <!-- partial -->
    <div class="main-panel ">

        {{!-- <div class="text-center  alert alert-dismissible alert-success"
            style="position: absolute; margin-left: 55%; top: 5rem;">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong> </strong> User Registration Successfull.
        </div> --}}
        {{!-- {{#if message}}
        <div class="text-center alert alert-dismissible alert-{{message.type}}"
            style="position: absolute; margin-left: 55%; top: 5rem;">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong></strong> {{message.text}}
        </div>
        {{/if}} --}}

        <div class="content-wrapper">
            <div class="d-xl-flex justify-content-between align-items-start">
                <h2 class="text-dark font-weight-bold mb-2"> Edit Product </h2>
                <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">

                </div>
            </div>
            <div class="row">

                {{!-- admin pannels --}}

                <form method="post" action="/admin/edit-product/{{product.pid}}" enctype="multipart/form-data">
                    <div class="form-group mt-2">
                        <label>Product Name</label>
                        <input type="text" class="form-control" name="pname" id="" value="{{product.pname}}">
                    </div>
                    <div class="form-group ">
                        <label>Product Description</label>
                        <input type="text" class="form-control" name="pdescription" id="" value="{{product.pdescription}}">
                    </div>
                    <div class="form-group">
                        <label>Product Price</label>
                        <input type="text" class="form-control" name="pprice" id="" value="{{product.pprice}}">
                    </div>
                    <div class="form-group">
                        <label>Product Quantity</label>
                        <input type="text" class="form-control" name="pquantity" id="" value="{{product.pquantity}}" >
                    </div>
                    <div class="form-group">
                        <label>Image </label>
                        {{!-- <br> --}}
                        <img src="/images/{{product.pimage}}" alt="" width="100px" height="100px">
                        <br>
                        <input type="file" class="form-control" name="pimage" id="" value="{{product.pimage}}">
                    </div>

                    <button type="submit" class="btn btn-success">Edit Product</button>
                </form>


            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
    </div>
</div>